*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}


@import "~@fontsource/montserrat/index.css";
@import "~@fontsource/montserrat/700.css";
@import "~@fontsource/montserrat/500.css"